<%- include('../partials/head') %>
<div class="text-center header1">
  <!--<h1>Banner logo goes here</h1>-->
</div>
  <!-- <a class="btn" href="/services">Explore Services</a> -->
<div class="container">
  <div class="card has-media" id="homecard" style="color:rgb(226, 0, 0);">
    <div class="text-center">
    <h2>Why choose us?</h2>
      <p>Ez repairZ has been a staple in the community for the past few months.</p>
      <p>we have been successful in roughly 1000 of our 2500 repair requests,</p>
      <p>and we have sold 200 devices with a 2.8 star rating.</p>
      <p>we have some core values that we know are important to our community.</p>
      <h3>
        <p>-If it works it works.-</p>
        <p>-If it doesn't break with us, then it isn't our fault-</p>
        <p>-Safety and Quality takes a backseat to Profit and Speed-</p>
      </h3>
      <p>we hope that we can provide the kind of service that you are paying for</p>
    </div>
  </div>
</div>
<!--side by side divs-->
  <div class="container">
    <div class="row text-center">
      <!-- Option 1 -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h4 class="card-title">Have a broken device?</h4>
            <img src="/images_folder/snappedorangepc1.png" alt="why wont it load bruh" class="img-fluid">
            <p class="card-text">click this link to see our options for repair.</p>
            <a href="/services" class="btn btn-primary">look into repairs</a>
          </div>
        </div>
      </div>

      <!-- Option 2 -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h4 class="card-title">Need a new device?</h4>
            <img src="/images_folder/greenpc2.png" alt="why wont it load bruh" class="img-fluid">
            <p class="card-text">we have a wide range of options and reviews. we are sure you will find something.</p>
            <a href="/shop" class="btn btn-primary">shop devices</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End row -->
    <br>
  </div>


<%- include('../partials/foot') %>
