<%- include('../partials/head') %>
<div class="container">
  <div class="card" id="servicecard" style = "color:blue;">
    <h1>so... you want us to attempt to repair your device</h1>
    <br>
    <ul>
      <li>Diagnostic: $20</li>
      <li>Repair difficultly low: $100</li>
      <li>Repair difficultly high: $200</li>
    </ul>
    <p>Average repair times:</p>
    <ul>
      <li>Diagnostic: 10 minutes</li>
      <li>Low difficulty repair: 30 minutes</li>
      <li>High difficutly repair: ?????</li>
    </ul>
    <p>You can choose to mail us your device to repair or you can bring it in person for a repair.</p>
    <p>along with the repair fee, you will also need to pay us for any parts we have to use for the repair.</p>
    <br>
    <p>Choose an option:</p>
    <br>
    <br>
    <br>
  </div>
</div>
    <!--side by side divs-->
  <div class="container">
    <div class="row text-center">
      <!-- Option 1 -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h4 class="card-title">Mail-In Repair</h4>
            <p class="card-text">send us your multi-hundred dollar device you rely on to survive, and we might repair it.</p>
            <a href="/repaircheckout" class="btn btn-primary">Mail Your Device</a>
          </div>
        </div>
      </div>

      <!-- Option 2 -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h4 class="card-title">go back</h4>
            <p class="card-text">come back to your senses: why do you want to use this service?</p>
            <a href="/" class="btn btn-primary">go back to home page</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End row -->
    <br>
  </div>
<%- include('../partials/foot') %>
