<%- include('../partials/head') %>
<div class="card">
  <h1>Shop</h1>
  <p>take a look at our inventory</p>



  <p>go here for more information</p>
  <form class="card" method="post" action="#">
    <label>Name<br><input type="text" placeholder="Your name" required></label><br><br>
    <label>Email<br><input type="email" placeholder="you@example.com" required></label><br><br>
    <label>Message<br><textarea rows="4" placeholder="How can we help?"></textarea></label><br><br>
    <button class="btn" type="submit" disabled>Submit (demo)</button>
  </form>
</div>
<%- include('../partials/foot') %>
