<%- include('../partials/head') %>
<div class="card">
  <h1>Shop</h1>
  <p>take a look at our inventory</p>



  <p>go here for more information</p>
  <form class="card" method="post" action="#">
    <label>Name<br><input type="text" placeholder="Your name" required></label><br><br>
    <label>Email<br><input type="email" placeholder="you@example.com" required></label><br><br>
    <label>Message<br><textarea rows="4" placeholder="How can we help?"></textarea></label><br><br>
    <button class="btn" type="submit" disabled>Submit (demo)</button>
  </form>
</div>
<div class= "card" id="shopCard1">
  <div class="card h-100 shadow-sm">
    <h4 class="card-title">Computers for sale</h4>
    <p class="card-text">we have a wide range of options, from extracted from e-waste to not-very-budget-friendly.</p>
    <!--Option 1-->
    <div class="col-md-6 mb-4">
      <div class="card text-center" id="shop1">
        <img class="centerMyImage" src="/images_folder/purplepc1.png" alt="purple pc 1" height="200px" width="200px">
        <p class="card-text">Looking for an option that is ...okay for gaming at a suprising price? check out this option!</p>
        <a href="/option_1" class="btn btn-primary">More info</a>
      </div>
    </div>
    <!--option 1 end-->
    <!--Option 2-->
    <div class="col-md-6 mb-4">
      <div class="card text-center" id="shop2">
        <img class="centerMyImage" src="/images_folder/redpc2.png" alt="redpc2" height="200px" width="200px">
        <p class="card-text">If the other option was too expensive, then this one might be the option for you. a lower price with an 
          ability to play... some games, you should consider this option
        </p>
        <a href="/option_2" class="btn btn-primary">More info</a>
      </div>
    </div>
    <!--option 2 end-->
  </div>
</div>
<%- include('../partials/foot') %>
