<%- include('../partials/head') %>

<div class="container-lg my-5">
  <div class="card text-center p-4 mb-5" id="shoptitlecardthingy">
    
  </div>
  <h1>we have a wide range of options, from extracted from e-waste to not-very-budget-friendly.</h1>
  <!-- Bootstrap row for grid layout -->
  <div class="row justify-content-center g-4">
    <!-- Option 1 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center h-100 shadow-sm p-3">
        <img src="/images_folder/purplepc1.png" alt="purple pc 1" class="img-fluid mx-auto d-block" style="height: 200px; width: 200px; object-fit: contain;">
        <div class="card-body">
          <h5 class="card-title mt-3">ready to "game"</h5>
          <p class="card-text">Looking for an option that is ...okay for gaming at a suprisingly medium price? This option has a reasonable price
             and quite un-reasonable performance. check out this option!
          </p>
          <a href="/option1" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <!-- Option 2 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center h-100 shadow-sm p-3">
        <img src="/images_folder/redpc2.png" alt="redpc2" class="img-fluid mx-auto d-block" style="height: 200px; width: 200px; object-fit: contain;">
        <div class="card-body">
          <h5 class="card-title mt-3">budget gamer</h5>
          <p class="card-text">If the other option was too expensive, then this one might be the option for you. a lower price with an 
          ability to play... some games, you should consider this option
          </p>
          <a href="/option2" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>

    <!-- Option 3 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center h-100 shadow-sm p-3">
        <img src="/images_folder/ancientpc.png" alt="ancient pc" class="img-fluid mx-auto d-block" style="height: 200px; width: 200px; object-fit: contain;">
        <div class="card-body">
          <h5 class="card-title mt-3">muy budget</h5>
          <p class="card-text">Still too expensive? this computer should fit within anyones budget. You might not be able to
          play games, .... or do anything on it, but it is a nice piece of history huh?
          </p>
          <a href="/option3" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <!-- Option 4 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center h-100 shadow-sm p-3">
        <img src="/images_folder/whitepc3.png" alt="redpc2" class="img-fluid mx-auto d-block" style="height: 200px; width: 200px; object-fit: contain;">
        <div class="card-body">
          <h5 class="card-title mt-3">"High end"</h5>
          <p class="card-text">
            are you looking to have the best performace in your friend group? if you sell one of your kidneys and steal another
            from a homeless man, you should be able to afford this.
          </p>
          <a href="/option4" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <div>
      <!--The i tag thing is for the bootstrap glyphicon things -->
      <a href="/" class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i> go back to home</a>     
    </div>
<!--ad 1 start-->
<div class="ad-grid container my-4">
  <div class="ad ad-large">
    <a href="/ads/fake1">
      <img src="/images_folder/ad_banner1.png" alt="Totally Real Product" class="ad-img">
      <div class="ad-copy"><strong>Buy This Now!</strong><br>Only $19.99 — Not sketchy!</div>
    </a>
  </div>

  <div class="ad ad-small">
    <a href="/ads/fake2">
      <img src="/images_folder/ad_square1.png" alt="Shady thing" class="ad-img">
      <div class="ad-copy">Click for free "warranty"</div>
    </a>
  </div>

  <div class="ad ad-small">
    <a href="/ads/fake3">
      <img src="/images_folder/fake3.png" alt="Definitely Legit" class="ad-img">
      <div class="ad-copy">Limited-time offer!</div>
    </a>
  </div>

  <div class="ad ad-small">
    <a href="/ads/fake4">
      <img src="/images_folder/fake4.png" alt="Buy spam" class="ad-img">
      <div class="ad-copy">You won!</div>
    </a>
  </div>
</div>
<!--ad 1 end-->
  </div>
</div>

<%- include('../partials/foot') %>
