<!-- Floating side ads -->
<div id="floatingAdLeft" class="floating-ad left" data-ad-id="left">
  <button class="ad-close" aria-label="Close ad">&times;</button>
  <div class="ad-inner">
    <a href="/ads/fake4" style="display:block;">
      <img src="/images_folder/fake4.png" alt="Free iPhone" class="ad-img">
      <div class="ad-copy"><strong>you win</strong><br>click for free i phone</div>
    </a>
  </div>
</div>

<div id="floatingAdRight" class="floating-ad right" data-ad-id="right">
  <button class="ad-close" aria-label="Close ad">&times;</button>
  <div class="ad-inner">
    <a href="/ads/fake2" style="display:block;">
      <img src="/images_folder/fake2.png" alt="Click here" class="ad-img">
      <div class="ad-copy">click here to delete virus</div>
    </a>
  </div>
</div>